body{
  margin: 0;

}


#app {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
  text-align: center;
  color: #2c3e50;
  /* background-color: rgb(213, 240, 240); */
}
